<h2>Free Channel</h2>
<p>https://channel.trai.gov.in/freechannels.php</p>
https://channel.trai.gov.in/languages.json
  <!-- Broadcaster: string;
  Channel: string;
  category: string;
  imageurl: string;
  price: number; -->
<div >
<section class="card-container">
    <article class="card" style="height: 200px;width: 350px;margin: 10px;" *ngFor="let freechannel of freechannels">
        <header class="card__title">
            <h6>{{freechannel.Channel}}</h6>
        </header>
        <figure *ngIf="freechannel!= null" class="card__thumbnail">
            <img src="https://channel.trai.gov.in/{{freechannel.imageurl}}" alt="{{freechannel.Broadcaster}}" height="42" width="42">
        </figure>
        <main *ngIf="freechannel!= null" class="card__description">

            <p>{{freechannel.category}}</p>
            <!-- <p>{{freechannel.price}}</p> -->
            <p>{{freechannel.Broadcaster}}</p>
        </main>
    </article>
</section>
</div>