<h2>Free Channel</h2>
<p>https://channel.trai.gov.in/freechannels.php</p>
https://channel.trai.gov.in/languages.json

<div class="panel-heading-default">
	<input type="text" [(ngModel)]="query" placeholder="Search">
  <!-- <input type="text" [(ngModel)]="filterBroadcaster" placeholder="Broadcaster"> -->
    <div>
    <!-- <label>NEWS</label>
    <input [(ngModel)] = "NEWS" type="checkbox"/> -->
    <!-- <label>NON-NEWS</label>
    <input [(ngModel)] = "NONNEWS" type="checkbox"/> -->
    </div>

      <a (click)="refreshPage()"><button style="margin-left:20px" class="btn btn-info pull-right">
                  Refresh
                </button></a>
              <a style="margin-left:10px" (click)="ClearFreeChannel()"
                ><button
                  style="margin-left:20px"
                  class="btn btn-warning pull-right"
                >
                  Clear
                </button></a>
    </div>
<div >


<section class="card-container">
    <article class="card" style="height: 200px;width: 350px; margin: 10px; background: {{freechannel.color}}" *ngFor="let freechannel of freechannels | startsWith : query : filterBroadcaster  ; let i = index" [attr.data-index]="i" (click)="OnMatCardClickEvent(freechannel, i)"  >
        <header class="card__title">
            <h6>{{freechannel.Channel}}</h6>
        </header>
        <figure *ngIf="freechannel!= null" class="card__thumbnail">
            <img src="https://channel.trai.gov.in/{{freechannel.imageurl}}" alt="{{freechannel.Broadcaster}}" >
        </figure>
        <main *ngIf="freechannel!= null" class="card__description">

            <p>{{freechannel.category}}</p>
            <p *ngIf="freechannel.color  != null" style="color:blue">Selected</p>
            <!-- <p>{{freechannel.price}}</p> -->
            <p>{{freechannel.Broadcaster}}</p>
        </main>
       
    </article>
</section>
</div>