<div class="panel-heading-default">
	        <a (click)="refreshPage()">
		        <button style="margin-left:20px" class="btn btn-info pull-right">
              Refresh
            </button>
          </a>
          <a style="margin-left:10px" (click)="clearAllChannel()">
            <button
              style="margin-left:20px"
              class="btn btn-warning pull-right">
              Reset All Selected Channel
              </button>
          </a>
</div>

<div class="container"  *ngIf="mandatorychannels != null &&  mandatorychannels.length > 0">
  <h5>Bill Details</h5>
  <ul class="list-group">
    <li class="list-group-item">
       <p>No. of Free Channels <span class="pull-right">{{freechannelCount}} No.</span></p> 
    </li>
    <li class="list-group-item">
       <p>No. of Paid Channels <span class="pull-right">{{channelCount}} No.</span></p> 
    </li>
    <li class="list-group-item">
       <p>Channel Count <span class="pull-right">{{billCount}}</span></p> 
    </li>
     <li class="list-group-item">
       <p>HD channel <span class="pull-right">{{hdCount}} No.</span></p> 
    </li>
    <li class="list-group-item">
       <p>SD channel <span class="pull-right">{{sdCount}} No.</span></p> 
    </li>
    <li class="list-group-item">
       <p>Bouquet Price<span class="pull-right">{{bouquetPrice}} ₹</span></p> 
    </li>
    
    <li class="list-group-item">
       <p>Price(Channel+Bouquet)<span class="pull-right">{{totalPrice}} ₹</span></p> 
    </li>
     <li class="list-group-item">
       <p>Network Capacity Fees<span class="pull-right">{{ncf}} ₹</span></p> 
    </li>
     <li class="list-group-item">
       <p>GST(18%) <span class="pull-right">{{gstAmt}} ₹</span></p> 
    </li>
    <li class="list-group-item">
       <h6>Total Price(Monthly) <span class="pull-right">{{priceChannelUser}} ₹</span></h6> 
    </li>
  </ul>
</div>

<div class="container" *ngIf="paychannels != null && paychannels.length > 0">
  <br/>
  <h5>Pay Channel</h5>
  <ul class="list-group">
     <li class="list-group-item" *ngFor="let paychannel of paychannels; let i = index" [attr.data-index]="i">
        <p>{{i+1}}.  {{paychannel.Channel}} 
          <span class="pull-right">{{paychannel.price}} ₹</span>
        </p> 
    </li>
  </ul>
</div>

<div class="container" *ngIf="freechannels != null && freechannels.length > 0">
  <br/>
  <h5>Free Channel</h5>
  <ul class="list-group">
     <li class="list-group-item" *ngFor="let freechannel of freechannels; let i = index" [attr.data-index]="i">
       <p>{{i+1}}.  {{freechannel.Channel}}</p>
    </li>
  </ul>
</div>

<div class="container" *ngIf="mandatorychannels != null &&  mandatorychannels.length > 0">
  <br/>
  <h5>Mandatory Free Channel</h5>
  <ul class="list-group">
     <li class="list-group-item" *ngFor="let mandatorychannel of mandatorychannels; let i = index" [attr.data-index]="i">
        <p>{{i+1}}.  {{mandatorychannel.Channel}}</p> 
    </li>
  </ul>
</div>
