<div class="container">
  <h2>Helpful Link</h2>
  <ul class="list-group">
    <li class="list-group-item"><a href="https://angular-db-fa163.firebaseio.com/TRAIChannel.json">My Database Link</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/">TRAI Website</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/freechannels.php">TRAI Website for free channels</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/data.php">TRAI Data Link</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/compulsory.php"> TRAI Compulsory Link</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/bouquetlist.json">TRAI bouquetlist Link</a></li>
    <li class="list-group-item"><a href="https://channel.trai.gov.in/languages.json">TRAI channels languages Link</a></li>
  </ul>
</div>